* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GmarketSans";
  color: #353945;
}
/*common*/
.fixed {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 1000; */
}
em {
  display: block;
}
img {
  width: 100%;
  vertical-align: top;
  object-fit: cover;
}
.scrollTop {
  position: fixed;
  left: 20px;
  top: 20px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  z-index: 10000;
}
body {
  width: 100%;
  height: 60000px;
  background: #f5f5f7;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  /* background: rgba(0, 0, 0, 0.2); */
  height: inherit;
}
.container2 {
  max-width: 980px;
  width: 100%;
  height: inherit;
  margin: 0 auto;
  /* background: rgba(0, 0, 0, 0.2); */
}
.more {
  font-size: 1vw;
  margin-top: 1vw;
  color: #0066cc;
}
/* sec1 */
.sec1__bg {
  width: 100%;
  height: 100vh;
  transform: translate(-50%, -50%) scale(1);
}
.sec1__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec1__text .face img {
  width: 10vw;
  border-radius: 50%;
}
.sec1__text span {
  margin-top: 1vw;
  font-size: 2vw;
}
.sec1__text h1 {
  font-size: 6vw;
  font-weight: 700;
  white-space: nowrap;
}
/* //sec1 */
.sec2 {
  width: 100%;
  height: 100vh;
}
.sec2__bg {
  width: 100%;
  height: 100vh;
  opacity: 1;
  /* background: none; */
  background: -webkit-linear-gradient(
    114deg,
    rgba(234, 162, 110, 1) 0%,
    rgba(234, 110, 177, 1) 24%,
    rgba(42, 140, 195, 1) 44%,
    rgba(234, 110, 177, 1) 68%,
    rgba(234, 162, 110, 1) 86%,
    rgba(234, 110, 177, 1) 100%
  );
}
.sec2__text {
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  font-size: 4.5vw;
  font-weight: 700;
  line-height: 1;
}
.sec2__text .bgo {
  position: relative;
}
.sec2__text .bgx {
  position: absolute;
  left: 0;
  top: 0;
}
.sec2__text .bgo span {
  opacity: 1;
  background: -webkit-linear-gradient(
    114deg,
    rgba(234, 162, 110, 1) 0%,
    rgba(234, 110, 177, 1) 24%,
    rgba(42, 140, 195, 1) 44%,
    rgba(234, 110, 177, 1) 68%,
    rgba(234, 162, 110, 1) 86%,
    rgba(234, 110, 177, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec2__text .bgx span {
  opacity: 0;
  color: #fff;
}
/* //sec2 */
.sec3 {
  width: 100%;
  height: 100vh;
}
.sec3__text {
  display: flex;
  justify-content: space-between;
}
.sec3__title {
  margin-top: 7vw;
}
.sec3__title h3 {
  font-size: 4.5vw;
  font-weight: 700;
  line-height: 1.2;
}
.sec3__title h3 em .on {
  opacity: 1;
  position: absolute;
  background: -webkit-linear-gradient(
    114deg,
    rgba(234, 162, 110, 1) 0%,
    rgba(234, 110, 177, 1) 24%,
    rgba(42, 140, 195, 1) 44%,
    rgba(234, 110, 177, 1) 68%,
    rgba(234, 162, 110, 1) 86%,
    rgba(234, 110, 177, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec3__title h3 em span {
  opacity: 0;
  position: relative;
}
.sec3__desc {
  margin-top: 25vw;
}
.sec3__desc p {
  font-size: 1.4vw;
  line-height: 1.6;
  text-align: right;
}
.sec3__img {
  width: 20vw;
  height: 20vw;
  perspective: 30vw;
  transform-origin: top left;
  transform: scale(1);
  /* background: rgba(255, 255, 255, 0.7); */
}
.sec3__img img {
  transform-origin: center;
  transform: translate(0%, 0%) rotate(0deg) rotate3d(0, 0, 0, 0deg) scale(1);
}
/* //sec3 */
.sec4 {
  width: 100%;
  height: 100vh;
}
.sec4__title {
  margin-left: 10.26vw;
  margin-top: 2vw;
}
.sec4__title .benefits {
  font-size: 1.25vw;
  font-weight: 700;
}
.sec4__title p {
  margin-top: 2vw;
  font-size: 4.5vw;
  font-weight: 700;
  margin-bottom: 6vw;
}
.sec4__title .bgo {
  opacity: 1;
  position: absolute;
  background: -webkit-linear-gradient(
    114deg,
    rgba(234, 162, 110, 1) 0%,
    rgba(234, 110, 177, 1) 24%,
    rgba(42, 140, 195, 1) 44%,
    rgba(234, 110, 177, 1) 68%,
    rgba(234, 162, 110, 1) 86%,
    rgba(234, 110, 177, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec4__title .bgx {
  opacity: 1;
  position: relative;
}
.sec4__box1 {
  width: 100%;
  height: 21.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vw;
  border-radius: 1.5vw;
  /* background: #ccc; */
}
.sec4__box1 .desc1 {
  width: 49%;
  height: 100%;
  background: #fff;
  border-radius: 1.5vw;
}
.sec4__box1 .desc1 h3 {
  padding: 3.5vw 3.5vw 0 3.5vw;
  text-align: left;
  font-size: 1.7vw;
}
.sec4__box1 .desc1 h3 em {
  white-space: nowrap;
}
.sec4__box1 .desc1 p {
  text-align: left;
  font-size: 1vw;
  padding: 3.5vw;
}
.sec4__box1 .desc2 {
  width: 49%;
  height: 100%;
  /* background: #fff; */
  border-radius: 1.5vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
.sec4__box1 .desc2 .box1__sub {
  border-radius: 1.5vw;
  width: 48%;
  height: 47%;
  background: #fff;
}
.sec4__box1 .desc2 .box1__sub p {
  font-size: 0.9vw;
  text-align: center;
}
.sec4__box1 .desc2 .box1__sub div {
  text-align: center;
  padding-top: 1.75vw;
  font-size: 4.3vw;
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec4__box1 .desc2 .box1__sub > div > span {
  font-size: 2.25vw;
}
.status1 {
  background: -webkit-linear-gradient(
    135deg,
    #1dc3e8,
    #51fbd2,
    #4ce577,
    #53853c
  );
}
.status2 {
  background: -webkit-linear-gradient(
    -135deg,
    #1ddbe8,
    #51d2fb,
    #4c77e5,
    #3c4385
  );
}
.status3 {
  background: -webkit-linear-gradient(
    -135deg,
    #cb1de8,
    #ba51fb,
    #744ce5,
    #3c6b85
  );
}
.status4 {
  background: -webkit-linear-gradient(
    135deg,
    #e8661d,
    #fb6a51,
    #e5684c,
    #833c85
  );
}
/* //sec4 */
.sec5 {
  width: 100%;
  height: 50vh;
}
.rowbox {
  width: 309%;
  display: flex;
  flex-direction: row;
  height: 25vw;
}
.rowbox .rowbox__sec {
  width: 100%;
  height: inherit;
  background: #fff;
  margin-right: 2vw;
  border-radius: 1.5vw;
  position: relative;
}
.rowbox1__text {
  position: absolute;
  top: 20%;
  left: 5%;
}
.rowbox1__text p {
  white-space: nowrap;
  line-height: 1.2;
  font-size: 4.5vw;
  font-weight: 700;
}
.rowbox1__text p span {
  background: -webkit-linear-gradient(45deg, #5a9ad3 20%, #bc70ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* //sec5 */
/* sec__js */
.sec__js1 {
  width: 100%;
  height: 100vh;
  background: #fff;
}
.sec__js1__text {
  margin-top: 4.8vw;
  margin-left: 25.52vw;
}
.sec__js1__text p {
  white-space: nowrap;
  font-size: 1.35vw;
  line-height: 1.4;
}
.sec__js1__text p span {
  background: -webkit-linear-gradient(45deg, #5a9ad3 20%, #bc70ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec__js1__img {
  width: 20vw;
  height: 20vw;
  perspective: 30vw;
  background: rgba(255, 255, 255, 0.7);
  transform-origin: top right;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
}
.sec__js1__img img {
  transform-origin: center;
  transform: translate(0%, 0%) rotate(0deg) rotate3d(0, 0, 0, 0deg) scale(1);
}
/* //sec__js1 */
.sec__js2 {
  width: 100%;
  height: 100vh;
}
.sec__js2__text {
  white-space: nowrap;
  margin-left: 25.52vw;
}
.sec__js2__text p {
  font-size: 1.35vw;
  line-height: 1.4;
}
.sec__js2__text p span {
  background: -webkit-linear-gradient(45deg, #5a9ad3 20%, #bc70ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec__js2__text2 {
  margin-top: 24vw;
}
.sec__js2__text2 p {
  font-size: 1.35vw;
  line-height: 1.4;
}
.sec__js2__text2 p span {
  background: -webkit-linear-gradient(45deg, #5a9ad3 20%, #bc70ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec__js2__img {
  width: 20vw;
  height: 20vw;
  perspective: 30vw;
  /* background: rgba(255, 255, 255, 0.7); */
  transform-origin: top right;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
}
.sec__js2__img img {
  transform-origin: center;
  transform: translate(0%, 0%) rotate(0deg) rotate3d(0, 0, 0, 0deg) scale(1);
}
/* //sec__js2 */
.sec_js3 {
  width: 101%;
  height: 100vh;
}
.sec_js3__bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background: #000;
}
.sec_js3__title {
  margin-top: 10.62vw;
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.46;
  position: relative;
}
.sec_js3__title h3 em {
  background: -webkit-linear-gradient(
    45deg,
    #8980ed 0%,
    #ec787f 44%,
    #ffc170 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec_js3__title .bgo {
  opacity: 0;
  position: absolute;
}
.sec_js3__title .bgo h3 {
  color: #fff;
}
.sec_js3__title .bgx {
  opacity: 1;
}
.sec__js3__text {
  margin-top: 4.8vw;
  font-size: 1.35vw;
  line-height: 1.4;
  position: relative;
}
.sec__js3__text .bgo {
  opacity: 0;
  position: absolute;
}
.sec__js3__text .bgo p {
  color: #fff;
}
.sec__js3__text .bgx {
  opacity: 1;
}
.sec__js3__text p span {
  background: -webkit-linear-gradient(
    45deg,
    #8980ed 0%,
    #ec787f 44%,
    #ffc170 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec__js3__imgWrap {
  width: 100%;
  height: 100vh;
  background: #000;
}
.sec__js3__img {
  width: 20vw;
  height: 20vw;
  perspective: 30vw;
  /* background: rgba(255, 255, 255, 0.7); */
  transform-origin: top right;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
}
.sec__js3__img img {
  transform-origin: center;
  transform: translate(0%, 0%) rotate(0deg) rotate3d(0, 0, 0, 0deg) scale(1);
}
/* //sec__js3 */
.sec__js4 {
  width: 101%;
  height: 100vh;
  background: #000;
}
.sec__js4__text {
  font-size: 1.35vw;
  line-height: 1.4;
}
.sec__js4__text p {
  color: #fff;
}
.sec__js4__text p span {
  background: -webkit-linear-gradient(
    45deg,
    #8980ed 0%,
    #ec787f 44%,
    #ffc170 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec__js4__img {
  width: 20vw;
  height: 20vw;
  perspective: 30vw;
  /* background: rgba(255, 255, 255, 0.7); */
  transform-origin: top right;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
}
.sec__js4__img img {
  transform-origin: center;
  transform: translate(0%, 0%) rotate(0deg) rotate3d(0, 0, 0, 0deg) scale(1);
}
/* //sec__js4 */
.sec__js5 {
  width: 101%;
  height: 100vh;
}
.sec__js5__bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: 1;
}
.sec__js5__text {
  margin-top: 10.62vw;
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.46;
  position: relative;
}
.sec__js5__text p span {
  background: -webkit-linear-gradient(45deg, #f56772 20%, #ba6bff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec__js5__text .bgo {
  opacity: 1;
  position: absolute;
}
.sec__js5__text .bgx {
  opacity: 1;
}
.sec__js5__text .bgo p {
  color: #fff;
}
/* //sec__js5 */
.sec__js6 {
  width: 100%;
  height: 100vh;
}
.sec__js6__text {
  white-space: nowrap;
  margin-left: 40.26vw;
  font-size: 1.35vw;
  line-height: 1.4;
}
.sec__js6__text p span {
  background: -webkit-linear-gradient(45deg, #f56772 20%, #ba6bff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec__js6__img {
  width: 20vw;
  height: 20vw;
  perspective: 30vw;
  background: rgba(0, 0, 0, 0.2);
  transform-origin: top right;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
}
.sec__js6__img img {
  transform-origin: center;
  transform: translate(0%, 0%) rotate(0deg) rotate3d(0, 0, 0, 0deg) scale(1);
}
