* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "GmarketSans";
  color: #353945;
}
/*common*/
.fixed {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 1000; */
}
em {
  display: block;
}
img {
  width: 100%;
  vertical-align: top;
  object-fit: cover;
}

.scrollTop {
  position: fixed;
  left: 20px;
  top: 20px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  z-index: 10000;
}

body {
  width: 100%;
  background-color: #f5f5f7;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  /* background: rgba(0, 0, 0, 0.2); */
  height: inherit;
}
.container2 {
  max-width: 980px;
  width: 100%;
  height: inherit;
  margin: 0 auto;
  /* background: rgba(0, 0, 0, 0.2); */
}
/* layout */
#section1 {
  /* width: 100%; */
  /* height: 4500px;
  background: #999; */
}
#section2 {
}
/* layout */

.sec1__bg {
  width: 100%;
  height: 100vh;
  transform: translate(-50%, -60%) scale(1);
}
.sec1__text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec1__text .face {
}
.sec1__text .face img {
  width: 10vw;
  border-radius: 50%;
}
.sec1__text span {
  margin-top: 1vw;
  font-size: 2vw;
}
.sec1__text h1 {
  font-size: 6vw;
  font-weight: 700;
  white-space: nowrap;
}
.sec1__text a {
  font-size: 2vw;
  color: #006ddb;
}

.sec2__bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  /* background: none; */
  background: -webkit-linear-gradient(
    114deg,
    rgba(234, 162, 110, 1) 0%,
    rgba(234, 110, 177, 1) 24%,
    rgba(42, 140, 195, 1) 44%,
    rgba(234, 110, 177, 1) 68%,
    rgba(234, 162, 110, 1) 86%,
    rgba(234, 110, 177, 1) 100%
  );
}
.sec2__text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 4.5vw;
  font-weight: 700;
  line-height: 1;
}
.sec2__text .bgo {
  position: relative;
}
.sec2__text .bgo span {
  opacity: 1;
  background: -webkit-linear-gradient(
    114deg,
    rgba(234, 162, 110, 1) 0%,
    rgba(234, 110, 177, 1) 24%,
    rgba(42, 140, 195, 1) 44%,
    rgba(234, 110, 177, 1) 68%,
    rgba(234, 162, 110, 1) 86%,
    rgba(234, 110, 177, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec2__text .bgx {
  position: absolute;
  left: 0;
  top: 0;
}
.sec2__text .bgx span {
  opacity: 0;
  color: #fff;
}
/*section3*/
.sec3 {
  width: 100%;
  height: 100vh;
}
.sec3__text {
  padding-top: 7vw;
}
.sec3__text h3 {
  transform: translate(25%, 150%);
  line-height: 1;
  white-space: nowrap;
  font-size: 4.5vw;
  font-weight: 700;
  margin-bottom: 10vw;
}
.sec3__text h3 em {
  margin-top: 0.5vw;
}
.sec3__text h3 em span {
  background: -webkit-linear-gradient(
    114deg,
    rgba(234, 162, 110, 1) 0%,
    rgba(234, 110, 177, 1) 24%,
    rgba(42, 140, 195, 1) 44%,
    rgba(234, 110, 177, 1) 68%,
    rgba(234, 162, 110, 1) 86%,
    rgba(234, 110, 177, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.sec3__text h3 em .basicT {
  position: absolute;
  background: #353945;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec3__text p {
  transform: translate(-50%, 0%);
  font-size: 1.4vw;
  line-height: 1.6;
  text-align: right;
  /* filter: blur(2px); */
}
.sec3__imgWrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: top left;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 25vw;
  height: 25vw;
  /* background: #fff; */
  z-index: -1;
}
.sec3__img {
  transform: translate(50%, 50%);
}
.sec4 {
  width: 100%;
}
.sec4__title {
  margin-left: 10vw;
}
.sec4__title .benefits {
  display: block;
  font-size: 1.3vw;
  margin-bottom: 2vw;
}
.sec4__title .bgo2 {
  margin-bottom: 6vw;
  position: relative;
}
.sec4__title .bgo2 span {
  /* display: block; */
  opacity: 1;
  background: -webkit-linear-gradient(
    114deg,
    rgba(234, 162, 110, 1) 0%,
    rgba(234, 110, 177, 1) 24%,
    rgba(42, 140, 195, 1) 44%,
    rgba(234, 110, 177, 1) 68%,
    rgba(234, 162, 110, 1) 86%,
    rgba(234, 110, 177, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec4__title .bgx2 {
  position: absolute;
  left: 0;
  top: 23%;
}
.sec4__title .bgx2 span {
  opacity: 1;
}
.sec4__title span {
  font-size: 4.5vw;
  /* margin-bottom: 6vw; */
  font-weight: 700;
}
.sec4__box1 {
  width: 100%;
  height: 21.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vw;
  border-radius: 1.5vw;
  /* background: #ccc; */
}
.sec4__box1 .desc1 {
  width: 49%;
  height: 100%;
  background: #fff;
  border-radius: 1.5vw;
}
.sec4__box1 .desc1 h3 {
  padding: 3.5vw 3.5vw 0 3.5vw;
  text-align: left;
  font-size: 1.7vw;
}
.sec4__box1 .desc1 h3 em {
  white-space: nowrap;
}
.sec4__box1 .desc1 p {
  text-align: left;
  font-size: 1vw;
  padding: 3.5vw;
}
.sec4__box1 .desc2 {
  width: 49%;
  height: 100%;
  /* background: #fff; */
  border-radius: 1.5vw;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
.sec4__box1 .desc2 .box1__sub {
  border-radius: 1.5vw;
  width: 48%;
  height: 47%;
  background: #fff;
}
.sec4__box1 .desc2 .box1__sub p {
  font-size: 0.9vw;
  text-align: center;
}
.sec4__box1 .desc2 .box1__sub div {
  text-align: center;
  padding-top: 1.75vw;
  font-size: 4.3vw;
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec4__box1 .desc2 .box1__sub > div > span {
  font-size: 2.25vw;
}
.status1 {
  background: -webkit-linear-gradient(
    135deg,
    #1dc3e8,
    #51fbd2,
    #4ce577,
    #53853c
  );
}

.status2 {
  background: -webkit-linear-gradient(
    -135deg,
    #1ddbe8,
    #51d2fb,
    #4c77e5,
    #3c4385
  );
}

.status3 {
  background: -webkit-linear-gradient(
    -135deg,
    #cb1de8,
    #ba51fb,
    #744ce5,
    #3c6b85
  );
}

.status4 {
  background: -webkit-linear-gradient(
    135deg,
    #e8661d,
    #fb6a51,
    #e5684c,
    #833c85
  );
}

.sec5 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 25vw;
}
.sec5__bg {
  width: 100%;
  height: inherit;
  background: #fff;
  position: relative;
  border-radius: 28px;
}
.sec5__text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.sec5__text h3 {
  line-height: 1.46;
  font-size: 4.5vw;
  background: -webkit-linear-gradient(45deg, #5a9ad3 20%, #bc70ff 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*  */
.sec6 {
  width: 100%;
  height: 100vh;
  /* background: #ccc; */
}
.sec6 .title {
}
.sec6 .title h3 {
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.46;
}
.sec6 .title h3 span {
  background: -webkit-linear-gradient(45deg, #f56772 20%, #ba6bff 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec6 .title h3 em {
}
.sec6__text {
  padding-top: 4.8vw;
  padding-left: 25.52vw;
}
.sec6__text p {
  line-height: 1.4;
  font-size: 1.35vw;
  white-space: nowrap;
}
.sec6__text p span {
  background: -webkit-linear-gradient(45deg, #f56772 20%, #ba6bff 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec6__img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: top right;
  width: 20vw;
  height: 20vw;
  /* background: #fff; */
  perspective: 30vw;
}
.sec6__img img {
  position: absolute;
  transform-origin: center;
  transform: translate(-50%, 50%) rotate(100deg) scale(1);
}
/* //sec6 */
.sec7 {
  width: 100%;
  height: 100vh;
  /* background: #ccc; */
}
.sec7__text {
  white-space: nowrap;
  padding-left: 25.52vw;
  line-height: 1.4;
  font-size: 1.35vw;
}
.sec7__text span {
  background: -webkit-linear-gradient(45deg, #f56772 20%, #ba6bff 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec7__img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20vw;
  height: 20vw;
  perspective: 30vw;
  transform-origin: bottom left;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  /* background: #fff; */
}
.sec7__img img {
  position: absolute;
  transform-origin: center;
  transform: translate(50%, 50%) rotate(0deg) rotate3d(0, 0, 0, 0deg) scale(1);
}
/* //sec7 */
.sec8 {
  width: 101%;
  height: 100vh;
  /* background: #999; */
}
.sec8__bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: 0;
}
.sec8__text {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.4;
}
.sec8__text p span {
  background: -webkit-linear-gradient(
    45deg,
    #ffc170 0%,
    #ec787f 44%,
    #8980ed 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec8__text .bgx {
  position: relative;
  opacity: 1;
}
.sec8__text .bgo {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.sec8__text .bgo p {
  color: #fff;
}
/* //sec8 */
.sec9 {
  width: 101%;
  height: 100vh;
  background: #000;
  /* z-index: 1000; */
}
.sec9__text {
  font-size: 1.35vw;
  line-height: 1.4;
}
.sec9__text p {
  color: #fff;
}
.sec9__text p span {
  background: -webkit-linear-gradient(
    45deg,
    #ffc170 0%,
    #ec787f 44%,
    #8980ed 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec9__img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20vw;
  height: 20vw;
  perspective: 30vw;
  background: rgba(0, 0, 0, 0.2);
  transform-origin: top right;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  /* z-index: 1000; */
}
.sec9__img img {
  /* position: absolute; */
  transform-origin: center;
  transform: translate(0%, 0%) rotate(0deg) rotate3d(0, 0, 0, 0deg) scale(1);
}
/* //sec9 */

.sec10 {
  width: 101%;
  height: 100vh;
  background: #000;
  z-index: 900;
}
.sec10__text {
  margin-top: 1vw;
  font-size: 1.35vw;
  line-height: 1.4;
}
.sec10__text p {
  color: #fff;
}
.sec10__text p span {
  background: -webkit-linear-gradient(
    45deg,
    #ffc170 0%,
    #ec787f 44%,
    #8980ed 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec10__img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20vw;
  height: 20vw;
  perspective: 30vw;
  /* background: rgba(255, 255, 255, 0.7); */
  transform-origin: top right;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  /* z-index: 1000; */
}
.sec10__img img {
  /* position: absolute; */
  transform-origin: center;
  transform: translate(0%, 0%) rotate(0deg) rotate3d(0, 0, 0, 0deg) scale(1);
}
/* //sec10 */
.sec11 {
  width: 101%;
  height: 100vh;
  background: #000;
}
.sec11__bg {
  position: fixed;
  width: 100%;
  height: 101vh;
  background: #f5f5f7;
  opacity: 0;
}
.sec11__text {
  padding-top: 10.62vw;
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.46;
  position: relative;
}
.sec11__text p span {
  background: -webkit-linear-gradient(45deg, #5a9ad3 20%, #bc70ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec11__text .bgo {
  opacity: 1;
}
.sec11__text .bgx {
  position: absolute;
  top: 32.5%;
  left: 0%;
  opacity: 1;
}
.sec11__text .bgx p {
  color: #fff;
}
.sec11__desc {
  margin-top: 4.8vw;
  margin-left: 25.52vw;
  position: relative;
}
.sec11__desc .bgo {
  opacity: 1;
}
.sec11__desc .bgx {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.sec11__desc .bgx p {
  color: #fff;
}
.sec11__desc p {
  white-space: nowrap;
  font-size: 1.35vw;
  line-height: 1.4;
}
.sec11__desc p span {
  background: -webkit-linear-gradient(45deg, #5a9ad3 20%, #bc70ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec11__img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20vw;
  height: 20vw;
  perspective: 30vw;
  /* background: rgba(255, 255, 255, 0.7); */
  transform-origin: top right;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  /* z-index: 1000; */
}
.sec11__img img {
  /* position: absolute; */
  transform-origin: center;
  transform: translate(0%, 0%) rotate(0deg) rotate3d(0, 0, 0, 0deg) scale(1);
}
/* //sec11 */
.sec12 {
  width: 100%;
  height: 100vh;
  /* background: #999; */
}
.sec12__text {
  white-space: nowrap;
  margin-left: 25.52vw;
}
.sec12__text p {
  font-size: 1.35vw;
  line-height: 1.4;
}
.sec12__text p span {
  background: -webkit-linear-gradient(45deg, #5a9ad3 20%, #bc70ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec12__img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20vw;
  height: 20vw;
  perspective: 30vw;
  /* background: rgba(255, 255, 255, 0.7); */
  transform-origin: top right;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
}
.sec12__img img {
  /* position: absolute; */
  transform-origin: center;
  transform: translate(0%, 0%) rotate(0deg) rotate3d(0, 0, 0, 0deg) scale(1);
}
.sec12__text2 {
  margin-top: 24vw;
}
.sec12__text2 p {
  font-size: 1.35vw;
  line-height: 1.4;
}
.sec12__text2 p span {
  background: -webkit-linear-gradient(45deg, #5a9ad3 20%, #bc70ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* //sec12 */
#section13 {
}
.sec13 {
  width: 101%;
  height: 100vh;
  /* background: #888; */
}
.sec13__bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 1;
  background: #000;
}
.sec13__title {
  margin-top: 10.62vw;
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.46;
  position: relative;
}
.sec13__title .bgx {
  opacity: 1;
}
.sec13__title .bgo {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.sec13__title .bgo h3 {
  color: #fff;
}
.sec13__title h3 em {
  background: -webkit-linear-gradient(
    45deg,
    #8980ed 0%,
    #ec787f 44%,
    #ffc170 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec13__text {
  margin-top: 4.8vw;
  font-size: 1.35vw;
  line-height: 1.4;
  position: relative;
}
.sec13__text .bgx {
  opacity: 1;
}
.sec13__text .bgo {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.sec13__text .bgo p {
  color: #fff;
}
.sec13__text p {
}
.sec13__text p span {
  background: -webkit-linear-gradient(
    45deg,
    #8980ed 0%,
    #ec787f 44%,
    #ffc170 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec13__imgwrap {
  width: 101%;
  height: 100vh;
  background: #000;
}
.sec13__img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20vw;
  height: 20vw;
  perspective: 30vw;
  /* background: rgba(255, 255, 255, 0.7); */
  transform-origin: top right;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
}
.sec13__img img {
  /* position: absolute; */
  transform-origin: center;
  transform: translate(0%, 0%) rotate(0deg) rotate3d(0, 0, 0, 0deg) scale(1);
}
/* //sec13 */
.sec14 {
  width: 101%;
  height: 100vh;
  background: #000;
}
.sec14__text {
  font-size: 1.35vw;
  line-height: 1.4;
}
.sec14__text p {
  color: #fff;
}
.sec14__text p span {
  background: -webkit-linear-gradient(
    45deg,
    #8980ed 0%,
    #ec787f 44%,
    #ffc170 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec14__img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20vw;
  height: 20vw;
  perspective: 30vw;
  /* background: rgba(255, 255, 255, 0.7); */
  transform-origin: top left;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
}
.sec14__img img {
  /* position: absolute; */
  transform-origin: center;
  transform: translate(0%, 0%) rotate(0deg) rotate3d(0, 0, 0, 0deg) scale(1);
}
/* //sec14 */
.sec15 {
  width: 101%;
  height: 100vh;
  /* background: #999; */
}
.sec15__bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background: #000;
}
.sec15__text {
  margin-top: 10.62vw;
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.46;
  position: relative;
}
.sec15__text .bgo {
  opacity: 1;
}
.sec15__text .bgx {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.sec15__text .bgx p {
  color: #fff;
}
.sec15__text p span {
  background: -webkit-linear-gradient(45deg, #f56772 20%, #ba6bff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* //sec15 */
.sec16 {
  width: 100%;
  height: 100vh;
  /* background: #999; */
}
.sec16__text {
  white-space: nowrap;
  margin-left: 40.26vw;
  font-size: 1.35vw;
  line-height: 1.4;
}
.sec16__text p span {
  background: -webkit-linear-gradient(45deg, #f56772 20%, #ba6bff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec16__img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20vw;
  height: 20vw;
  perspective: 30vw;
  /* background: rgba(0, 0, 0, 0.2); */
  transform-origin: bottom left;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
}
.sec16__img img {
  /* position: absolute; */
  transform-origin: center;
  transform: translate(0%, 0%) rotate(0deg) rotate3d(0, 0, 0, 0deg) scale(1);
}
/* //sec16 */
.sec17 {
  width: 100%;
  height: 100vh;
  /* background: #fff; */
}
.sec17__title {
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.46;
}
.sec17__title p span {
  background: -webkit-linear-gradient(
    45deg,
    #80d0f2 0%,
    #5c82ff 50%,
    #c480ff 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec17__text {
  margin-top: 4.8vw;
  font-size: 1.35vw;
  line-height: 1.4;
}
.sec17__text p span {
  background: -webkit-linear-gradient(
    45deg,
    #80d0f2 0%,
    #5c82ff 50%,
    #c480ff 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec17__img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20vw;
  height: 20vw;
  perspective: 30vw;
  /* background: rgba(0, 0, 0, 0.2); */
  transform-origin: top right;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
}
.sec17__img img {
  /* position: absolute; */
  transform-origin: center;
  transform: translate(0%, 0%) rotate(0deg) rotate3d(0, 0, 0, 0deg) scale(1);
}
/* //sec17 */
.sec18 {
  width: 100%;
  height: 100vh;
  /* background: #fff; */
}
.sec18__text {
  font-size: 1.35vw;
  line-height: 1.4;
}
.sec18__text p span {
  background: -webkit-linear-gradient(
    45deg,
    #80d0f2 0%,
    #5c82ff 50%,
    #c480ff 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec18__img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20vw;
  height: 20vw;
  perspective: 30vw;
  /* background: rgba(0, 0, 0, 0.2); */
  transform-origin: top right;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
}
.sec18__img img {
  /* position: absolute; */
  transform-origin: center;
  transform: translate(0%, 0%) rotate(0deg) rotate3d(0, 0, 0, 0deg) scale(1);
}
/* //sec18 */
.sec19 {
  width: 100%;
  height: 100vh;
  /* background: #999; */
}
.sec19__title {
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.46;
}
.sec19__title p span {
  background: -webkit-linear-gradient(45deg, #f56772 20%, #ba6bff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec19__text {
  white-space: nowrap;
  margin-top: 4.8vw;
  margin-left: 35.26vw;
  font-size: 1.35vw;
  line-height: 1.6;
}
.sec19__text p span {
  background: -webkit-linear-gradient(45deg, #f56772 20%, #ba6bff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.more {
  font-size: 1vw;
  margin-top: 1vw;
  color: #0066cc;
}
.sec19__img {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20vw;
  height: 20vw;
  perspective: 30vw;
  /* background: rgba(0, 0, 0, 0.2); */
  transform-origin: top right;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
}
.sec19__img img {
  /* position: absolute; */
  transform-origin: center;
  transform: translate(0%, 0%) rotate(0deg) rotate3d(0, 0, 0, 0deg) scale(1);
}
/* //sec19 */
.sec20 {
  width: 100%;
  height: 100vh;
  /* background: #999; */
}
.sec20__bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: -webkit-linear-gradient(
    114deg,
    rgba(234, 162, 110, 1) 0%,
    rgba(234, 110, 177, 1) 24%,
    rgba(42, 140, 195, 1) 44%,
    rgba(234, 110, 177, 1) 68%,
    rgba(234, 162, 110, 1) 86%,
    rgba(234, 110, 177, 1) 100%
  );
  opacity: 1;
}
.sec20__text {
  white-space: nowrap;
  text-align: center;
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.46;
}
.sec20__text .bgx {
  position: relative;
  opacity: 1;
}
.sec20__text .bgx p {
  background: -webkit-linear-gradient(
    114deg,
    rgba(234, 162, 110, 1) 0%,
    rgba(234, 110, 177, 1) 24%,
    rgba(42, 140, 195, 1) 44%,
    rgba(234, 110, 177, 1) 68%,
    rgba(234, 162, 110, 1) 86%,
    rgba(234, 110, 177, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec20__text .bgo {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.sec20__text .bgo p {
  color: #fff;
}
